.annotator-adder button:hover {
    background-color: transparent;
}

.thumb-rating {
    float: none;
}

.thumb-rating form {
    text-align: left;
}

.total-thumbs-up_ressalva .tally-total_ressalva,
.total-thumbs-up .tally-total{
    color: #47ae53;
}

.total-thumbs-down .tally-total{
    color: #C81917;
}

form input.like-button,
form input.dislike-button {
    padding: none;
    background-color:transparent;
    font-size: 100%;
    background-image: none ;
    background-repeat: none;
    border-width: 0;
    cursor: pointer;
    width: auto;
    text-indent: 0;
    white-space: nowrap;
}

form .selected input.like-button {
    color: #47ae53;
}

form .selected input.dislike-button {
    color: #C81917;
}

.twothumbs-feedback {
    display: table;
    font-size: 1em;
    margin: 1em 0 0 0;
    padding: 0.5em 0.75em;
    position: relative;
    text-align: left;
    width: auto;
    background-color: #fcfcfc;
    border: 0;
}

#content .twothumbs-feedback .close-link {
    border: 0;
    margin-left: 0.5em;
}

.twothumbs-feedback h5 {
    margin: 0.75em 0 0.25em;
}

.twothumbs-feedback textarea {
    width: 99%;
}

/*.paragrafo-wrapper,*/
.mceContentBody  .paragrafo{
    margin: 1em 0;
    outline: 0.5px dashed orange ;
    padding: 0.5em 1em;
}

.state-finalizado {
    background-color: #000;
    border: 0.1em solid #000;
    border-radius: 0.5em;
    color: #fff !important;
    padding: 0 0.5em;
}

#document-action-export_csv,
#document-action-export_pdf {
    float: right;
    margin-left: 2em;
}

.avaliacao {
    /*margin: 100px 0;*/
    /*outline: 0.5px dashed orange ;*/
    /*border: 1px solid green;*/
    padding: 0em 0em 2em 1em;
}
