@page {
    margin: 1cm 1.5cm 2cm;
    @top-center {
        border-bottom: 0.5pt solid #005a9c;
        color: #005a9c;
    }
    @bottom-right {
        content: "Página " counter(page) " de " counter(pages);
        color: #666;
        font-size: 8pt;
    }
    /*@left-top {
         background: #005a9c;
         color: #fff;
         content: "SMDU - Prefeitura de Sao Paulo";
         text-align: right;
         transform: rotate(-90deg);
         transform-origin: 100% 0;
    }*/
}

.relatorio-header {
    border-bottom: 1pt solid #ccc;
    text-align: center;
}

.relatorio-header-logo {
}

.relatorio-header-title {
    color: #c00;
}

.relatorio-header-subheading {
    color: #c33;
    font-size: 14pt;
    margin: 0 0 0.5cm;
}

.relatorio-title {
    font-size: 24pt;
    -weasy-bookmark-level: none;
}

.relatorio-description {
    font-size: 14pt;
}

.relatorio-body {
    font-size: 10pt;
    text-align: justify;
}

.votacao_paragrafo {
    background: #EDEDED;
    font-size:8px;
}

table {
    background: #666;
}
