.propostas .resultinterno {
    float: left;
    min-height: 268px;
    max-height: 380px;
    width: 250px;
    margin: 30px;
    /*margin-top: 35px;*/
    margin-top: 20px;
}

.proposta-apresentada {
    background-color: #E6E6E6;
    height: auto;
    max-height: auto;
    float: left;
    height: auto;
    max-height: auto;
    max-width: 945px;
}

.propostas .proposta-apresentada-caixa {
    float: left;
    width: 220px;
    height: 470px;
    margin: 8px;
    /*margin-top: 35px;*/
    margin-top: 10px;
    background-color: #E6E6E6;
    overflow: hidden;
}

.proposta-imagem {
    width: 220px;
    height: 160px;
    border-bottom: 1px solid #646464;
    border-radius: 10px 10px 0 0;
    padding: 0;
    overflow: hidden;
}

.proposta-informacao {
    /*border: 1px solid yellow;*/
    background: white;
    border-radius: 0 0 10px 10px;
    height: 280px;
}

.proposta-descritivo {
    height: 210px;
}

.proposta-quantidade-apoios {
    width: 220px;
    height: 20px;
    line-height: 20px;
    background: #A3A3A3;
    color: white;
    left: 20px;
}

.proposta-quantidade-apoios span {
    padding-left: 20px;
}

.proposta-titulo {
    padding: 18px 20px 0 20px;
    /*border: 1px solid yellow;
    height: 30px;*/
    height: auto;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    line-height: 120%;
}

.proposta-linha {
    padding-top: 8px;
    border-bottom: 1px solid #C8C8C8;
}

.proposta-descricao-curta {
    padding: 8px 20px 10px 20px;
    /*border: 1px solid yellow;
    height: 150px;*/
    height: auto;
    color: #333;
    line-height: 120%;
}

.proposta-icones {
    /*border: 1px solid yellow;*/
    padding: 10px 20px 0 20px;
    height: 45px;
    max-height: 45px;
}

.proposta-icones-compartilhar {
    float: left;
    height: 40px;
    /*padding-top: 20px;*/
}

.proposta-icones-apoiar {
    float: right;
    height: 45px;
    max-height: 45px;
}

.propostas .proposta-apresentada-caixa .resultinternoMinhocaoProposta {
    width: 220px;
    height: 461px;
    /*border-radius: 10px;
    border: 1px solid #646464;*/
    background-color: #E6E6E6;
    overflow: hidden;
}

.propostas .proposta-apresentada-caixa .resultinternoMinhocaoProposta .resultinternoMinhocaoPropostaInterno {
    width: 216px;
    height: 457px;
    /*border-radius: 10px;*/
    /*border: 1px solid #646464;*/
    background-color: #E6E6E6;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    border: 2px dashed #646464;
}

.resultinternoMinhocaoPropostaInternoEnviar {
    width: 216px;
    height: 229px;
    /*border-radius: 10px 10px 0 0;*/
    background: #CCC;
    background-size: cover;
    background-position: center center;
    background-clip: content-box;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.resultinternoMinhocaoPropostaInternoEnviar span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.resultinternoMinhocaoPropostaInternoEnviar img {
    display: inline-block;
    vertical-align: middle;
}

.resultinternoMinhocaoPropostaInternoTexto {
    width: 216px;
    height: 228px;
    /*border-radius: 0 0 10px 10px;*/
    padding: 0;
    overflow: hidden;
}

.resultinternoMinhocaoPropostaInternoTextoCima {
    color: black;
    font-size: 16px;
    font-weight: bold;
    color: #5C5C5C;
    line-height: 120%;
    float: left;
    padding: 15px 45px 0 45px;
}

.resultinternoMinhocaoPropostaInternoTextoBaixo {
    color: black;
    font-size: 13px;
    color: #5C5C5C;
    line-height: 120%;
    float: left;
    padding: 15px 45px 0 45px;
}

.propostas .linha {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 2px;
    margin-right: 2px;
}

.propostas .parametros {
    /*float: left;
    margin-bottom: 30px;*/
    margin-left: 2px;
    margin-right: 2px;
}

.propostas .parametros div {
    margin-top: 3px;
    margin-bottom: 3px;
    color: #C81400;
}

.floatComment #comments {
    float: left;
}

.jqueryuifontsize span {
    font-size: small;
}

.radioBlock span.wpcf7-list-item {
    display: block;
}

/*Visualização do pop up com informações detalhadas de uma proposta*/

.resultado-proposta-detalhe {
    /*float: left;
    width: 100%;*/
    margin: 10px 8px 8px;
    background-color: white;
}

.proposta-detalhe {
    max-width: 100%;
    /*background-color: #E6E6E6;*/
    overflow: hidden;
}

.proposta-imagem-detalhe {
    width: 60%;
    float: left;
    height: 360px;
    max-height: 360px;
    border-bottom: initial;
    padding: 0;
    overflow: hidden;
}

.proposta-descritivo-detalhe {
    width: 40%;
    float: left;
}

.proposta-descritivo-apoiada-detalhe {
    width: 100%;
    height: 20px;
    line-height: 20px;
    background: #A3A3A3;
    color: white;
    left: 20px;
    float: left;
    /*margin: 0 0 0 20px;*/
}

.proposta-descritivo-titulo-detalhe {
    padding-top: 18px;
    margin: 18px 20px 0 20px;
    /*width: 100%;
    border: 1px solid yellow;*/
    height: auto;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    line-height: 120%;
    float: left;
}

.proposta-linha-detalhe {
    width: 100%;
    padding-top: 8px;
    border-bottom: 1px solid #C8C8C8;
    float: left;
}

.proposta-linha-descricao-detalhe {
    padding-top: 8px;
    margin: 8px 20px 10px 20px;
    /*width: 100%;
    border: 1px solid yellow;*/
    height: auto;
    color: #333333;
    line-height: 120%;
    float: left;
    /*width: 100%;*/
}

.proposta-justificativa-detalhe {
    padding-top: 8px;
    width: 100%;
    float: left;
    color: #333;
}

.proposta-justificativa-detalhe {
    width: 100%;
    float: left;
}

.proposta-justificativa-titulo-detalhe {
    width: 100%;
    margin: 18px 20px 0 0;
    /*border: 1px solid yellow;*/
    height: auto;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    line-height: 120%;
    float: left;
}

.proposta-icones-detalhe {
    float: left;
    width: 100%;
    padding: 5px 20px 0 20px;
    /*border: 1px solid yellow;*/
    height: 46px;
    max-height: 46px;
}

.proposta-icones-compartilhar-detalhe {
    float: left;
    height: 46px;
}

.proposta-icones-compartilhar-detalhe img {
    cursor: pointer;
}

.proposta-icones-apoiar-detalhe {
    float: right;
    height: 46px;
    max-height: 46px;
}

form input.botao-apoiar {
    float: right;
    height: 45px;
    max-height: 45px;
    padding: 0 40px;
    background-color:transparent;
    background-image: url(++resource++smdu.participacao/img/apoiar.png);
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    text-indent: -3000px;
    white-space: nowrap;
}

/* Reset button styles of Plone 5  */
form input.botao-apoiar:hover {
    box-shadow: none;
    background-color: transparent;
}
