@page {
    margin: 3cm 2cm;
    padding-left: 1.5cm;
    @top-center {
        background: #005a9c;
        color: #fff;
        border-bottom: 0.5pt solid;
        content: "Relatório de votação e comentários da Minuta Participativa";
        vertical-align: middle;
        width: 100%;
        height: 24px;
    }
    @bottom-right {
        content: "Pagina " counter(page) " de " counter(pages);
    }
    /*@left-top {
        background: #005a9c;
        color: #fff;
        content: "SMDU - Prefeitura de Sao Paulo";
        text-align: right;
        transform: rotate(-90deg);
        transform-origin: 100% 0;
    }*/
}

body {
    text-align: justify;
    font-size:8px;
}


h1 {
    -weasy-bookmark-level: none;
}

table {
    background: #666;
}

.votacao_paragrafo {
    background: #EDEDED;
    font-size:8px;
}
